:root {
  --color-1: #f66435;
  --color-2: #f4efca;
  --color-3: #f5deb3;
  --color-4: #ff7f50;
  --color-5: #d49066;
}

body {
  padding-top: 35px; /* Matches navbar height to prevent overlap */
}

.container.custom-container {
  background-color: #f4efca !important;
  color: #f66435 !important;
  padding: 2.5em !important; /* Adjusted spacing for fixed navbar */
  margin-top: 6em !important;
}

.container.custom-container .card {
  background-color: var(--color-3);
  border-color: #f66435 !important;
}

.container.custom-container .card .card-body .card-title {
  color: #f66435 !important;
}

.container.custom-container .modal-content {
  color: #f66435 !important;
}
